@media (max-width: 400px) {
    h1 {
      font-size: 20px;
    }
  }
  
  @media (min-width: 401px) and (max-width: 900px) {
    h1 {
      font-size: 28px;
    }
  }
  
  @media (min-width: 901px) {
    h1 {
      font-size: 36px;
    }
  }